<!DOCTYPE HTML>

<html>
	<head>
		<title>Retrospect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<%= stylesheet_link_tag "main" %>

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<!-- <a href="#nav">Menu</a> -->
			</header>

		<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav>

		<!-- Banner -->
			<section id="banner">
				<img ID="logo" src="images/logo.png"></img>
				<h2>Medical tourism made easy</h2>
				<ul class="actions">
					<li><a href="/find_treatment" class="button big special">Find your treatment</a></li>
					<li><a href="/find_patient" class="button big special2">Find your patient</a></li>
				</ul>
			</section>

		<!-- One -->
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><img src="images/hospital.jpeg" alt="" /></span>
						<div class="content">
							<h2>What we do</h2>
							<p>Tripment is revolutionising patient-doctor relationships through an easy to use system, accessible to anyone with an internet connection. Our goal is to empower cancer patients by allowing them to overcome the geographical limitations of healthcare. Your contribution to Tripment will aid in the development of a globally accessible healthcare system.</p>
							<ul class="actions">
								<li>
									<!-- <a href="#" class="button alt">More</a> -->
								</li>
							</ul>
						</div>
					</article>
					<article class="feature right">
						<span class="image"><img src="images/peggy.jpeg" alt="" /></span>
						<div class="content">
							<h2>Global Success</h2>
							<p>Peggy Poromenko was an average teen from the Ukraine until she was diagnosed with lymphatic cancer at the age of 15. Peggy was unable to receive treatment in her hometown of Kiev, but her family practitioner recommended Tripment as an alternative solution. Six months later, the Poromenko family travelled to Germany and saved their child's life. At 23, Peggy is happily cancer-free and a medical student working towards her goal of being a general surgeon registered with Tripment to make her two-year-old son proud.</p>
							<ul class="actions">
								<li>
									<!-- <a href="#" class="button alt">More</a> -->
								</li>
							</ul>
						</div>
					</article>
				</div>
			</section>

		<!-- Scripts -->
		<%= javascript_include_tag "jquery.min" %>
		<%= javascript_include_tag "skel.min" %>
		<%= javascript_include_tag "util" %>
		<%= javascript_include_tag "main" %>

	</body>
</html>
