<!DOCTYPE HTML>

<html>

<!DOCTYPE HTML>

<html>

<!DOCTYPE HTML>

<html>
	<head>
		<title>Retrospect by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<%= stylesheet_link_tag "main" %>

	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<h1 style="color:black">TRIPMENT</h1>
				<!-- <a href="#nav">Menu</a> -->
			</header>

		<!-- Nav -->
			<!-- <nav id="nav">
				<ul class="links">
					<li><a href="index.html">Home</a></li>
					<li><a href="generic.html">Generic</a></li>
					<li><a href="elements.html">Elements</a></li>
				</ul>
			</nav> -->

		<!-- Banner -->
			<section id="banner">
				<h1 style="font-size:70px;">Treatments</h1>
				<ul class="actions">
					<li><a href="/demo" class="button big special">Back</a></li>
				</ul>
			</section>

		<!-- One -->
		<% @treatments.each do |treatment| %>
			<section id="one" class="wrapper style1">
				<div class="inner">
					<article class="feature left">
						<span class="image"><%= image_tag(treatment.image_url) %></span>
						<div class="content">
							<h2>Name: <%= treatment.name %></h2>
							<ul>
							<li>Average price: <%= treatment.average_price %></li>
							<li>Description: Sed egestas, ante et vulputate volutpat, eros pede semper est, vitae luctus metus libero eu augue. Morbi purus libero, faucibus adipiscing, commodo quis, gravida id, est.</li>
							</ul>
							<ul class="actions">
								<li>
									<a href="#" class="button alt">More</a>
								</li>
							</ul>
						</div>
				</div>
			</section>
		<% end %>

		<!-- Scripts -->
		<%= javascript_include_tag "jquery.min" %>
		<%= javascript_include_tag "skel.min" %>
		<%= javascript_include_tag "util" %>
		<%= javascript_include_tag "main" %>

	</body>
</html>




</html>


</html>
